extends main

block head
    - var headData = {title: "Главная"}
    - var breadcrumb = true
    - var index = 'header_index'


block content
    .container
        //- for(var i = 0;i<10;i++)
            p ggg
        