extends main
include ../components/service/service

block head
    - var headData = {title: "Услуги компании"}

block content
    .content.content_logoBg
        .container
            .hidden-md-down
                br
                br
            +service()
            br
            br


    .form-callback.form-callback_white
        .container
            .form-callback__title.color-default Заказывайте наши услуги
            .row
                .col-lg-4
                    .form-group
                        input.form-control(placeholder='Введите ваше Ф.И.О.')
                    .form-group.form-group__required
                        input.form-control(type='tel', placeholder='Укажите номер вашего телефона')

                .col-lg-4
                    .form-group
                        textarea.form-control(placeholder='Введите текст вашего вопроса', style='height: 124px;')

                .col-lg-4
                    .form-group
                        .row
                            .col-lg-12.col-xs-12.col-md-6
                                div.form-callback__notRobot: +img('general/not-robot_w', 'png')
                            .col-lg-8.col-xs-12.col-md-6
                                button.btn.btn-orange.btn-width Оставить заявку

            span Отправляя данные, вы даете согласие на обработку персональных данных в соответствии с #[a(href='/policy') политикой конфиденциальности]




block script
    script(src='%=static=%js/separate-js/imagesloaded.pkgd.min.js')
    script(src='%=static=%js/separate-js/Masonry.js')









