// Common styles of the project

html, body {
    height: 100%;
    font-family: "SourceSansPro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75em;
    background-color: #f2f4f6;
    color: #46515a;
}

.page {

}

.color-gray{
    color: $colorGray;
}


* html .page__wrapper {
    height: 100%;
}

.page__wrapper {
    min-height: 100%;
    //padding-bottom: 50px;

}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.dd{

}

.breadcrumbBlock{
    background-color: #fff;
    border-bottom: 4px solid #2f9f13;
    padding: 23px 0;
    &__title{
        font-weight: 600;
        color: #46515a;
        margin-bottom: 0;
        //font-size: 35px;
    }
}

.content{
    padding-top: 20px;
    &_white{
        background-color: #fff;
    }
    &_logoBg{
        background-image: url('%=static=%general/bg_content.png');
        background-position: right bottom;
        background-repeat: no-repeat;
    }
}


.contacts{
    &__table{
        display: table;
        width: 100%;
        &-cell{
            display: table-cell;
            vertical-align: top;
            padding-right: 60px;
            position: relative;
            +*{
                padding-left: 65px;
                .contacts__elTable{
                    .contacts__el{
                        &:not(.contacts__el_notBorder){
                            .contacts__el-icon{
                                position: relative;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    left: -65px;
                                    top: 10px;
                                    width: 1px;
                                    height: 100%;
                                    background-color: #b9c2c9;
                                }
                            }
                        }
                    }

                }
            }
            .contacts__elTable {
                .contacts__el {
                    &.contacts__el_notBorder{
                        padding-top: 70px;
                        >*{
                            padding-top: 25px;
                        }
                    }
                }
            }
            &:last-child{
                padding-right: 0;
            }
        }
    }
    &__elTable{
        display: table;
    }
    &__el{
        display: table-row;
        >*{
            display: table-cell;
            vertical-align: top;
            padding: 12px 0;
            +*{
                padding-left: 27px;
            }
        }
        &-icon{
            text-align: center;
        }
        &-title{

        }
    }
    &__maps{
        position: relative;
        &-contacts{
            position: relative;
            z-index: 2;
            padding: 87px 0;
            &-content{
                width: 403px;
                max-width: 100%;
                height: 438px;
                background-color: #fff;
                box-shadow: 0 43px 57px rgba(0, 0, 0, 0.17);
                padding: 40px 48px;
            }
        }
        &-map{
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
    }
}

.form-callback{
    background-color: #2f9f13;
    color: #fff;
    font-weight: normal;
    padding: 51px 0;
    &_white{
        background-color: #fff;
        color: #677783;
    }
    &__title{
        font-size: 28px;
        font-weight: 600;
        line-height: 1.7em;
        margin-bottom: 20px;
    }
    &__notRobot{
        margin-bottom: 25px;
        margin-top: 12px;
    }
}

.nav-list{
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    fill: $colorAuto;
    a{
        color: $colorAuto;
    }
    &__title{
        background: #46515a;
        color: #fff;
        padding: 32.5px 25px;
    }
    &__list{
        @include nl;
        >li{
            border-top: 1px solid #f6f7f8;
        }
        &-item{
            display: block;
            padding: 43.5px 0;
            position: relative;
            padding-right: 73px;
            &:after{
                content: '';
                display: inline-block;
                @include bg($arrow-right);
                position: absolute;
                right: 54px;
                top: 50%;
                margin-top: -4.5px;
            }
            &:hover{
                background-color: #f6f7f8;
            }
            &-icon{
                width: 88px;
                text-align: center;
                display: block;
            }
            &-title{

            }
            &-table{
                display: table;
                &-cell{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}


.service-list{
    .masonry-col2__section{
        position: relative;
        &:hover{
            .service-list__item{
                transform: translateY(4px);
            }
            .service-list__itemGren{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__item{
        display: block;
        background-color: #fff;
        box-shadow: 0 5px 4px rgba(192, 202, 204, 0.2);
        text-align: center;
        color: $colorAuto;
        font-weight: 600;
        font-size: 18px;
        transition: .2s;
        &-table{
            display: table;
            width: 100%;
            height: 190px;
            &-cell{
                display: table-cell;
                vertical-align: middle;
            }
        }
        &-icon{
            display: block;
            margin-bottom: 20px;
        }
        &-title{

        }
    }
    &__itemGren{
        background-color: #2f9f13;
        color: #fff;
        padding: 27px 39px;
        position: absolute;
        left: auto;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: .1s;
        width: 100%;
        z-index: 1;
        &-icon{
            margin-bottom: 15px;

        }
        &-title{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 7px;
        }
        &-link{
            display: block;
            color: $colorAuto;
            margin: 0 -8px;
            padding: 2px 0;
            span{
                padding: 1.5px 8px;
                display: inline-block;
            }
            &:hover{
                color: #2f9f13;
                span{
                    background-color: #fff;
                }
            }
        }
    }
}

.masonry-col2{
    &__section{
        margin-bottom: 4%;
    }
    .gutter-sizer{
        width: 4%;
    }
    .col-1,
    .grid-sizer{
        width: 48%;
    }
    .col-2{
        width: 100%;
    }
}

.accordion{
    padding-bottom: 7px;
    &__item{
        +*{
            margin-top: 20px;
        }
        &-link{
            display: block;
            background-color: #f2f4f6;
            padding: 17px 28px;
            color: $colorAuto;
            font-size: 18px;
            font-weight: 600;
            fill: $colorAuto;
            position: relative;
            transition: .2s;
            &-title{
            }
            &-icon{
                transition: transform .2s;
                position: absolute;
                right: 28px;
                top: 50%;
                margin-top: -13px;
            }
        }
        &-content{
            box-shadow: 0 5px 4px rgba(192, 202, 204, 0.2);
            padding: 28px;
            display: none;
        }
        &.active{
            .accordion__item-link-icon{
                transform: rotate(90deg);
            }
            .accordion__item-link{
                background-color: #2f9f13;
                color: #fff;
            }
        }
        &.open{
            .accordion__item-content{
                display: block;
            }
        }
    }
}


.slick-dots{
    @include nl;
    text-align: center;
    font-size: 0;
    line-height: 0;
    margin-top: 36px;
    pointer-events: none;
    li{
        display: inline-block;
        button{
            pointer-events: all;
            @include btn-clear;
            padding: 7px;
            &:after{
                content: '';
                display: block;
                background-color: #b9c2c9;
                border-radius: 50%;
                width: 16px;
                height: 16px;
            }
        }
        &.slick-active{
            button{
                &:after{
                    background-color: #ff9908;
                }
            }
        }
    }
}

.slick-dots-w{
    .slick-dots{
        li {
            button {
                &:after {
                    background-color: #fff;
                }
            }
            &.slick-active {
                button {
                    &:after {
                        background-color: #ff9908;
                    }
                }
            }
        }
    }
}


.slider-accreditations{
    margin: 0 -15px;
    .slick-arrow{
        @include btn-clear;
        position: absolute;
        top: 0;
        height: 100%;
        fill: $colorAuto;
        z-index: 1;
        &:hover{
            fill: #2f9f13;
        }
        &.slick-prev{
            right: 100%;
            padding-right: 55px;
        }
        &.slick-next{
            left: 100%;
            padding-left: 55px;
        }
    }

    &__section{
        outline: none;
        padding: 0 15px;
        img{
            display: inline-block !important;
        }
    }
    &__item{
        border: 1px solid #b9c2c9;
        display: table;
        background-color: #fff;
        width: 100%;
        height: 150px;
        text-align: center;
        &_padding{
            height: auto;
            padding: 25px;
        }
        &-cell{
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.service-tabs-list{
    display: table;
    width: 100%;
    &__section{
        display: table-cell;
        vertical-align: top;
        width: 20%;
        +*{
            padding-left: 10px;
        }
    }
    &__item{
        display: block;
        background-color: #fff;
        box-shadow: 0 5px 4px rgba(192, 202, 204, 0.2);
        width: 100%;
        text-align: center;
        line-height: 22px;
        color: $colorAuto;
        font-weight: 600;
        padding: 5px;
        &:hover{
            background-color: #2f9f13;
            color: #fff;
        }
        &-table{
            display: table;
            width: 100%;
            height: 100px;
            &-cell{
                display: table-cell;
                vertical-align: middle;
            }
        }
        &.active{
            background-color: #2f9f13;
            color: #fff;
            position: relative;
            box-shadow: none;
            &:after{
                content: '';
                display: block;
                @include triangle('down', #2f9f13, 24px, 12px);
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -12px;
            }
        }
    }
}

.form-content{
    background-color: #fff;
    box-shadow: 0 5px 4px rgba(192, 202, 204, 0.2);
    padding: 40px;
    &__title{
        margin-top: 0 !important;
        font-size: 28px;
        line-height: 35px;
        font-weight: 600;
        color: #46515a;
        margin-bottom: 15px;
    }
    &__titleSub{
        color: #46515a;
        margin-bottom: 28px;
    }
    &__table{
        display: table;
        width: 100%;
        &-cell{
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.list-advantages{
    @include nl;
    display: table;
    &__item{
        display: table-row;
        width: 100%;
        font-size: 18px;
        >*{
            padding: 20px 0;
            display: table-cell;
            vertical-align: middle;
            //+*{
            //    padding-left: 20px;
            //}
        }
        &-icon{
            text-align: center;
            img{
                margin-right: 38px;
            }
            span{
                display: inline-block;
                width: 80px;
                height: 80px;
                line-height: 71px;
                background-color: #fff;
                border-radius: 50%;
                border: 1px solid #2f9f13;
                margin-right: 20px;
                img{
                    margin-right: 0;
                }
            }
        }
        &-title{

        }
    }
}

.list-advantagesBg{
    background-image: url('%=static=%general/advantagesBg.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 125px 0;
    font-size: 16px;
    line-height: 28px;
    &__list{
        margin: -40px -53px !important;
        font-size: 0;
        @include nl;
        >li{
            padding: 40px 53px;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            width: 33.33%;
        }
        &-item{
            &-icon{
                margin-bottom: 20px;
            }
            &-text{

            }
        }
    }
}

.content-bgRight{
    background-color: #f6f7f8;
    overflow-x: hidden;
    background-image: url('%=static=%general/content-bgRight_bg.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
    &__table{
        display: table;
        width: 100%;
        &-cell{
            display: table-cell;
            vertical-align: top;
        }
    }
    &__left{
        background-color: #fff;
        padding: 0 15px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 30px;
        width: 700px;
        max-width: 100%;
        margin: 0 -15px;
        position: relative;
        margin-bottom: -1px;
        &:before{
            content: '';
            position: absolute;
            height: 100%;
            right: 100%;
            width: 200%;
            background-color: #fff;
            top: 0;
        }
    }
}

.step{
    background-color: #f2f4f6;
    //height: 221px;
    padding-top: 40px;
    &__greenBuffer{
        height: 102px;
    }
    &__green{
        background-color: #2f9f13;
        padding-bottom: 20px;
    }
    &__title{
        font-size: 30px;
        line-height: 1.4em;
        color: #47525b;
        font-weight: 600;
        margin-bottom: 32px;
    }
    &__content{
        background-color: #fff;
        box-shadow: 0 43px 57px rgba(0, 0, 0, 0.14);
        position: relative;
        z-index: 1;
        //margin-bottom: -48%;
        padding: 40px;
        margin-top: -102px;
        display: inline-block;
    }
    &__list{
        @include nl;
        font-size: 0;
        text-align: center;
        overflow: hidden;
        >li{
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            width: 33.33%;
            padding-bottom: 40px;
        }
    }
    &__item{
        font-size: 14px;
        color: #46515a;
        line-height: 20px;
        &-icon{
            width: 86px;
            line-height: 138px;
            display: inline-block;
            //padding-left: 79px;
            //padding-right: 33px;
            background-color: #fff;
            position: relative;
            z-index: 2;
            img{
                position: relative;
                z-index: 2;
            }
            &-num {
                position: absolute;
                line-height: 26px;
                width: 28px;
                height: 28px;
                background-color: #b9c2c9;
                left: -44px;
                top: 50%;
                margin-top: -14px;
                color: #fff;
                border-radius: 50%;
                font-size: 18px;
                font-weight: 600;
                z-index: 1;
                &_bgGreen{
                    background-color: #2f9f13;
                }
            }
            &:before{
                content: '';
                width: 3000%;
                left: 100%;
                top: 50%;
                position: absolute;
                height: 1px;
                margin-top: -.5px;
                background-color: #b9c2c9;
            }
            &:after{
                content: '';
                display: inline-block;
                left: -64px;
                right: -17px;
                top: 50%;
                //left: 50%;
                position: absolute;
                height: 1px;
                margin-top: -.5px;
                background-color: #fff;
            }

        }
        &-title{
            font-size: 18px;
            font-weight: 600;
            color: #2f9f13;
            margin-bottom: 10px;
            //margin-top: 31px;
            position: relative;
        }
        &-text{}
    }
}

.slider-main{
    border-bottom: 4px solid #2f9f13;
    background-size: cover;
    background-position: center;
    &__section{
        padding: 90px 0;
        background-position: center;
        background-size: cover;
        outline: none;
    }
    &__title{
        font-size: 40px;
        line-height: 55px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__phone{
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: 600;
    }
    &__line{
        width: 82px;
        height: 4px;
        background-color: #66b356;
        margin: 32px 0;
        display: inline-block;
    }
    .slick-arrow{
        @include btn-clear;
        position: absolute;
        z-index: 1;
        top: 0;
        height: 100%;
        width: 50px;

        &:hover{
            opacity: .5;
        }
        &.slick-prev{
            left: 50%;
            margin-left: -650px;
        }
        &.slick-next{
            right: 50%;
            margin-right: -650px;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 106px;
        width: 100%;
        margin-top: 0;
    }
}

.chooseUs{
    background-image: url('%=static=%general/chooseUs-bg.jpg');
    background-size: cover;
    background-position: center;
    border-top: 4px solid #2f9f13;
    padding-top: 70px;
    padding-bottom: 40px;
    &__title{
        font-size: 30px;
        font-weight: 600;
        color: $colorAuto;
        line-height: 1.2em;
        margin-bottom: 35px;
    }
    &__list{
        @include nl;
        font-size: 0;
        text-align: center;
        margin: 0 -25px;
        li{
            display: inline-block;
            font-size: 1rem;
            width: 20%;
            vertical-align: top;
            padding: 30px 25px;
        }
    }
    &__item{
        &-icon{
            display: inline-block;
            width: 80px;
            height: 80px;
            border: 1px solid #2f9f13;
            border-radius: 50%;
            line-height: 80px;
            text-align: center;
            margin-bottom: 19px;
        }
        &-title{
            display: block;
        }
    }
}

.team{
    background-image: url('%=static=%general/team-bg.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    &__title{
        font-size: 30px;
        font-weight: 600;
        color: $colorAuto;
        line-height: 1.2em;
        margin-bottom: 35px;
    }
    &__cnt{
        margin-bottom: -60px;
        &-slider{
            margin-left: -35px;
            margin-right: -35px;
            background-color: #fff;
            border-bottom: 4px solid #2f9f13;
            &__section{
                text-align: center;
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: auto 341px;
                height: 464px;
                outline: none;
            }
            &__title{
                font-size: 18px;
                font-weight: 600;
                display: block;
            }
            &__titleSub{
                font-size: 14px;
                line-height: 20px;
            }
            &__titlesBlock{
                visibility: hidden;
                opacity: 0;
                //transition: .2s;
                color: #fff;
                display: table;
                width: 100%;
                height: 116px;
                &-cell{
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .slick-arrow{
                @include btn-clear;
                position: absolute;
                z-index: 1;
                top: 50%;
                background-color: #46515a;
                width: 51px;
                height: 52px;
                fill: #fff;

                &.slick-prev{
                    right: 100%;
                    border-radius: 4px 0 0 4px;
                }
                &.slick-next{
                    left: 100%;
                    border-radius: 0 4px 4px 0 ;
                }
            }
        }
    }
}

.team__cnt-sliderName__section{
    outline: none;
    padding-top: 25px;
}

.button-top{
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 18px;
    color: $colorAuto;
    padding: 20px 25px;
    transition: .2s;
    margin-bottom: -10px;
    opacity: 0;
    visibility: hidden;
    &.active{
        visibility: visible;
        margin-bottom: 0;
        opacity: 1;
    }
    &:hover{
        margin-bottom: 5px;
    }
    &__icon{
        margin-bottom: 10px;
        background: #fff;
        border-radius: 50%;
    }
}

.info-block{
    &__title{
        background-color: #46515a;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        padding: 25px 39px;
        border-bottom: 1px #a9aeb2;
    }
    &__content{
        padding: 10px 39px;
        background-color: #fff;
        position: relative;
        box-shadow: 0 5px 4px rgba(192, 202, 204, 0.2);
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 20px;
            //background-color: #eee;
            position: absolute;
            top: 100%;
            left: 0;
            background-image: url('%=static=%general/info-block__content_after.png');
            background-position: center top;
            background-repeat: no-repeat;
            margin-top: -1px;
        }
    }
    &__table{
        display: table;
        width: 100%;
        line-height: 22px;
        &-row{
            display: table-row;
            &+*{
                .info-block__table-cell{
                    border-top: 1px solid #dfdfdd;
                }
            }
        }
        &-cell{
            display: table-cell;
            vertical-align: middle;
            padding: 18px 0;
        }
    }
}








