// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "libraries/bootstrap/scaffolding";
@import "libraries/bootstrap/buttons";
@import "libraries/bootstrap/type";
@import "libraries/bootstrap/breadcrumbs";
@import "libraries/bootstrap/tables";
@import "libraries/bootstrap/forms";
@import "libraries/bootstrap/navs";
@import "libraries/bootstrap/dropdowns";

a{
  //color: #e74700;
  //text-decoration: underline;
  color: #86adcc;
  cursor: pointer;
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:not(.not-styleLink){
    @include link-border-color(#86adcc);
  }
  .not-styleLink{
    text-decoration: underline;
  }
}

.dropdown-menu{
  border: 1px solid #c4cfd1;
  box-shadow: 0 5px 4px rgba(192, 202, 204, 0.2);
  border-radius: 0;
  font-size: 13px;
  >li{
    >a{
      padding: 7px 18px;
      color: #46515a;
      span.text{
          font-size: inherit !important;
      }
    }
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  background-color: #2f9f15;
}


.bootstrap-select.btn-group{
  position: relative;

  .bs-searchbox{
    border-bottom: 1px solid #c4cfd1;
    padding: 0;
    position: relative;
    margin-top: -5px;
    &:after{
      content: '';
      display: block;
      position: absolute;
      right: 12px;
      top: 12px;
      @include bg($search-g);
    }
    input{
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
      height: 38px;
      box-shadow: none;
      padding-right: 30px;
      padding-left: 18px;
      &:hover{
        border: none;
        box-shadow: none;
      }
      &:focus{
        border: none;
        box-shadow: none;
      }
    }
  }

  .dropdown-toggle{
    background-color: white;
    border: 1px solid #737373;
    border-radius: 4px;
    padding: 0 13px;
    line-height: 47px;
    height: 42px;
    padding-right: 35px;
    overflow: hidden;
    .filter-option{
      color: #484848;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      font-style: normal;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .bs-caret{
    background-color: #fff;
    line-height: 21px;
    right: 18px;
    .caret{
      border: none;
      display: block;
      margin: 0 auto;
      &:after{
        //i.s-arrow-bottom
        content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiB3aWR0aD0iMTIiIGhlaWdodD0iNi43ODEiIHZpZXdCb3g9IjAgMCAxMiA2Ljc4MSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM3MzczNzM7ZmlsbC1ydWxlOmV2ZW5vZGR9PC9zdHlsZT48L2RlZnM+PHBhdGggZD0iTTUuOTc1IDYuNzkzYS44MzguODM4IDAgMCAwIC41OTQtLjI0NWw1LjE1Ny01LjEyOGEuODMyLjgzMiAwIDAgMCAwLTEuMTgxLjg0NC44NDQgMCAwIDAtMS4xODggMEw1Ljk3NSA0Ljc3NyAxLjQxMS4yMzlhLjg0My44NDMgMCAwIDAtMS4xODcgMCAuODMyLjgzMiAwIDAgMCAwIDEuMTgxbDUuMTU3IDUuMTI5YS44NC44NCAwIDAgMCAuNTk0LjI0NHoiIGNsYXNzPSJjbHMtMSIvPjwvc3ZnPg==');
      }
    }
  }

  &.select-text{
    .dropdown-toggle{
      border: none;
      padding: 0;
      font-weight: 600;
      color: #46515a;
      font-size: 14px;
      height: auto;
      line-height: initial;
      .filter-option.pull-left{
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
      .bs-caret{
        background: transparent;
        vertical-align: middle;
        position: static;
        display: inline-block;
        line-height: normal;
        margin: 0;
        font-size: inherit;
        width: 6px;
        height: 19px;
        .caret{
          &:after{
            content: '';
            background: transparent;
            @include bg($arrow-bottom);
          }
        }
      }
    }
    .dropdown-menu{
      max-height: 560px !important;
      //height: 560px;
    }
    >.dropdown-menu{
      overflow: visible !important;
      margin-top: 22px !important;
      &:after{
        content: '';
        position: absolute;
        bottom: 100%;
        left: 18px;
        @include triangle('up', #fff, 32px, 16px);
        z-index: 1;
      }
      &:before{
        content: '';
        position: absolute;
        bottom: 100%;
        left: 17px;
        @include triangle('up', #c4cfd1, 34px, 18px);
      }
    }
  }

}

small, .small{
  font-size: 12px;
}

.fwb{
  font-weight: bold;
}
.fwL{
  font-weight: lighter;
}

.fwSemibold{
  font-weight: 600;
}

.nowrap{
  white-space: nowrap;
}

.fzbBigMega{
  font-size: 18px;
  line-height: 30px;
}
.fzbBig{
  font-size: 16px;
}
.fzbMin{
  font-size: 14px;
}

h2, .h2{
  font-size: 28px;
  color: $colorAuto;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 1.2em;
}
h3, .h3{
  font-size: 22px;
  font-weight: 600;
  color: $colorAuto;
}
h4, .h4{
  font-size: 18px;
  font-weight: 600;
  color: $colorAuto;
}

h1, .h1{
  font-size: 35px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 1.2em;
}


.page-content{
  ol, ul{
    list-style: none;
    padding: 0;
    li{
      position: relative;
      padding-left: 32px;
      margin-bottom: 20px;
      &:after{
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: #2f9f13;
        position: absolute;
        left: 0;
        top: 5px;
        line-height: 16.9px;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
  ol{
    li {
      counter-increment: li;
      padding-left: 37px;
      &:after {
        content: counter(li);
        width: 16px;
        height: 16px;
        top: 5px;
      }
    }
  }
}



.title-min{
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 3px;
}

.text-opacity{
  opacity: .48;
}

.block-title-min{
  margin-bottom: 18px;
}

.text-op{

}

.not-styleLink{
  a{
    border-bottom: none;
  }
}

.caret{
  @include triangle('down', currentColor, 6px, 4px);
}
.dib{
  display: inline-block;
  vertical-align: middle;
}
.db{
  display: block;
}
.ttu{
  text-transform: uppercase;
}



@include text-border-bottom('default', #46515a);
@include text-border-bottom('blue', #008cff);
@include text-border-bottom('grey', #677783);
@include text-border-bottom('white', #fff);
@include text-border-bottom('orange', #ff9908);
@include text-border-bottom('green', #66b356);