// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "libraries/bootstrap/scaffolding";
@import "libraries/bootstrap/buttons";
@import "libraries/bootstrap/type";
@import "libraries/bootstrap/breadcrumbs";
@import "libraries/bootstrap/tables";
@import "libraries/bootstrap/forms";
@import "libraries/bootstrap/navs";
@import "libraries/bootstrap/dropdowns";

a{
  //color: #e74700;
  //text-decoration: underline;
  color: #86adcc;
  cursor: pointer;
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:not(.not-styleLink){
    @include link-border-color(#86adcc);
  }
  .not-styleLink{
    text-decoration: underline;
  }
}

small, .small{
  font-size: 12px;
}

.fwb{
  font-weight: bold;
}
.fwL{
  font-weight: lighter;
}

.fwSemibold{
  font-weight: 600;
}

.fzbBig{
  font-size: 16px;
}
.fzbMin{
  font-size: 14px;
}

h2, .h2{
  font-size: 28px;
  color: $colorAuto;
  font-weight: 600;
  margin-bottom: 1.2em;
}
h3, .h3{
  font-size: 22px;
  font-weight: 600;
  color: $colorAuto;
}
h4, .h4{
  font-size: 18px;
  font-weight: 600;
  color: $colorAuto;
}


.title-min{
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 3px;
}

.text-opacity{
  opacity: .48;
}

.block-title-min{
  margin-bottom: 18px;
}

.text-op{

}

.not-styleLink{
  a{
    border-bottom: none;
  }
}

.caret{
  @include triangle('down', currentColor, 6px, 4px);
}
.dib{
  display: inline-block;
  vertical-align: middle;
}
.db{
  display: block;
}
.ttu{
  text-transform: uppercase;
}



@include text-border-bottom('default', #46515a);
@include text-border-bottom('grey', #677783);
@include text-border-bottom('white', #fff);
@include text-border-bottom('orange', #ff9908);
@include text-border-bottom('green', #66b356);