mixin footer(data)
    footer.footer.color-gray
        .container
            .footer__table
                .footer__table-cell
                    span © 2018, Все права защищены
                .footer__table-cell
                    ul.footer__menu
                        li.active: a(href='#') Обмен
                        li: a(href='#') Правила
                        li: a(href='#') Партнерам
                        li: a(href='#') Новости
                        li: a(href='#') FAQ
                        li: a(href='#') Контакты
                .footer__table-cell.text-right
                    span Сделано с душой
