.footer{
  border-top: 4px solid #2f9f13;
  background-image: url('%=static=%assets/footer/bg.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 87px;
  padding-bottom: 60px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  //height: 500px;
  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: top;
      padding-right: 40px;
      &_service{
        //width: 70%;
      }
    }
  }
  &__list{
    @include nl;
    font-weight: 600;
    a{
      padding: 7px 0;
      display: block;
    }
  }
}