mixin header(data)
    .header-mobile.not-styleLink
        .header-mobile__open
            .container
                .header-mobile__open-content
                    a(href="#").db.header__login
                        .header__login-icon: +icon('profile')
                        .header__login-title Вход в личный кабинет

                    .header-mobile__open-nav
                        ul
                            li: a(href='#') Главная
                            li
                                a(href='#') Услуги &nbsp;#[i.s-arrow-bottom]
                                .header-mobile__open-nav-sub
                                    ul
                                        li: a(href='#') Оценка недвижимости
                                        li: a(href='#') Оспаривание кадастровой стоимости
                                        li: a(href='#') Оценка бизнеса
                                        li: a(href='#') Оценка движимого имущества
                                        li: a(href='#') Независимая автоэкспертиза, оценка ущерба при ДТП
                                        li: a(href='#') Судебная экспертиза

                            li: a(href='#') Партнёрам
                            li
                                a(href='#') О компании &nbsp;#[i.s-arrow-bottom]
                                .header-mobile__open-nav-sub
                                    ul
                                        li: a(href='#') Оценка недвижимости
                                        li: a(href='#') Оспаривание кадастровой стоимости
                                        li: a(href='#') Оценка бизнеса
                                        li: a(href='#') Оценка движимого имущества
                            li: a(href='#') Как заказать?
                            li: a(href='#') Контакты


                    br

                    .header-mobile__open-marginBottom
                        a(href='#').db.color-white.fzbMin #[span.db Выберите город:] #[span.db Челябинск &nbsp;#[i.s-arrow-bottom]]

                    .header-mobile__open-marginBottom
                        a(href='tel:73512479531').db.color-white.fzbMin Звоните:#[br]  #[b.fzbBig +7 351 #[span.color-green 247 95 31]]
                    a(href='#callback').open-popup-link.btn.btn-green Заказать звонок


        .header-mobile__toolbar-fix
        .header-mobile__toolbar
            .container
                .header-mobile__table
                    .header-mobile__table-cell.header-mobile__table-cell_btn.header-mobile__table-cell_view
                        .mobile-list-anim
                            input(type="checkbox", id="header-bottom-toggleMenuMbl")
                            label.menuTopMobel(for="header-bottom-toggleMenuMbl")
                                span.menu-mobile
                                    span.menu-mobile-hamburger.one
                                    span.menu-mobile-hamburger.two
                                    span.menu-mobile-hamburger.three

                    .header-mobile__table-cell
                        a(href='#').header-mobile__logo: +img('assets/header/logo', 'png')

    .header.not-styleLink
        .header__top.fwSemibold
            .container
                .header__top-table
                    .header__top-table-section
                        a(href='/').header__logo: +img('assets/header/logo', 'png')
                    .header__top-table-section
                        span.db Выберите город:
                        .select-city
                            select(data-live-search="true").select-text
                                option Челябинск
                                option Волгоград
                                option Воронеж
                                option Екатеринбург
                                option Казань
                                option Краснодар
                                option Красноярск
                                option Москва
                                option Нижний Новгород
                                option Новосибирск
                                option Пермь
                                option Ростов-на-Дону
                                option Самара
                                option Санкт-Петербург
                                option Уфа

                    .header__top-table-section
                        span.db Напишите нам:
                        a(href="mailto:ocenka-74@mail.ru").db.color-default: span.color-default__title.color-default__title_viewBorder ocenka-74@mail.ru
                    .header__top-table-section
                        span.db Звоните:
                        a(href="tel:73512479531").db.color-default.fzbBig +7 351 #[span.color-green 247 95 31]
                    .header__top-table-section.header__top-table-section_btn
                        a(href='#popup-login').open-popup-link.db.header__login
                            .header__login-icon: +icon('profile')
                            .header__login-title Вход в личный кабинет
                        a(href='#callback').open-popup-link.btn.btn-green Заказать звонок

        .header__bottom-fix
        .header__bottom
            .container
                .header__bottom-table
                    .header__bottom-table-cell.header__bottom-table-cell_logo
                        a(href='/').header__logo: +img('assets/header/logo-fix', 'png')

                    .header__bottom-table-cell
                        ul.header__nav.fwSemibold
                            li: a(href='#') Главная
                            li.active
                                a(href='#') Услуги &nbsp;#[i.s-arrow-bottom-w]
                                .header__nav-sub
                                    .container
                                        .header__nav-sub-table
                                            .header__nav-sub-table-cell
                                                .header__nav-list
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/home', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Оценка недвижимости
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/2', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Оспаривание кадастровой стоимости
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/3', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Оценка бизнеса

                                            .header__nav-sub-table-cell
                                                .header__nav-list
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/4', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Оценка движимого имущества
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/5', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Независимая автоэкспертиза / оценка ущерба при ДТП
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/6', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Судебная экспертиза


                            li: a(href='#') Партнёрам
                            li
                                a(href='#') О компании &nbsp;#[i.s-arrow-bottom-w]
                                .header__nav-sub
                                    .container
                                        .header__nav-sub-table
                                            .header__nav-sub-table-cell
                                                .header__nav-list
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/home', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Оценка недвижимости
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/2', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Оспаривание кадастровой стоимости
                                                    a(href='#').header__nav-list-item.color-white
                                                        span.header__nav-list-item-icon: +img('content/sub-menu/3', 'png')
                                                        span.header__nav-list-item-title: span.color-white__title Оценка бизнеса

                            li: a(href='#') Как заказать?
                            li: a(href='#') Контакты
                    .header__bottom-table-cell.header__bottom-table-cell_phone.header__bottom-table-cell_fix: a(href="tel:73512479531").db.fzbBig.color-white.fwSemibold +7 351 #[span.color-green 247 95 31]
                    .header__bottom-table-cell.header__bottom-table-cell_fix: a(href='#callback').open-popup-link.btn.btn-green Заказать звонок


                    .header__bottom-table-cell.header__bottom-table-cell_fixNot
                        form.header__search
                            input.header__search-input(placeholder='Введите поисковый запрос')
                            button.header__search-btn: i.s-search







