html{
  //overflow-x: hidden;
}
body, html{
  //min-width: 320px;
}


@include my-media-query(max, 1325px) {

}
@include my-media-query(max, 1354px) {
  .slider-accreditations {
    .slick-arrow {
      &.slick-prev {
        right: 100%;
        padding-right: 0px;
      }
      &.slick-next {
        left: 100%;
        padding-left: 0px;
      }
    }
  }
}
@include my-media-query(max, 1300px) {
  .slider-main{
    .slick-arrow{
      &.slick-prev{
        margin-left: -580px;
      }
      &.slick-next{
        margin-right: -580px;
      }
    }
  }
  .slider-main__section {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@include my-media-query(min, 1316px) {
  .team {
    &__cnt {
      &-slider {
        .slick-arrow {
          &:hover{
            background-color: #ff9908;
          }
        }
      }
    }
  }
}
@include my-media-query(max, 1316px) {
  .team{
    &__cnt{
      &-slider{
        margin-left: 0;
        margin-right: 0;
        .slick-arrow{
          background-color: transparent;
          fill: #46515a;
          &:hover{
            opacity: .8;
          }
          &.slick-prev{
            right: auto;
            left: 0;
          }
          &.slick-next{
            right: 0;
            left: auto;
          }
        }
      }
    }
  }
}
@include my-media-query(max, 1224px) {
  .slider-accreditations {
    .slick-arrow {
      &.slick-prev {
        right: auto;
        left: 0;
      }
      &.slick-next {
        left: auto;
        right: 0;
      }
    }
  }
}

@include my-media-query(max, 1163px) {

}

@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {

  .slider-main{
    .slick-arrow{
      &.slick-prev{
        margin-left: -520px;
      }
      &.slick-next{
        margin-right: -520px;
      }
    }
  }
  .nav-list {
    font-size: 16px;
  }
  .service-list__item{
    font-size: 16px;
  }
  .service-list__itemGren-title{
    font-size: 16px;
  }
  .header__nav{
    margin: 0 -16px;
    >li {
      > a {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
  .header__bottom-table-cell_phone {
    padding: 0px 10px;
  }
  .header__bottom{
    .header__logo {
      img{
        width: 38px;
      }
    }
  }
  .header__bottom.fix{
    .header__logo {
      width: 44px;
    }
    .header__nav {
      &>li{
        font-size: 14px;
        &>a{
          padding-left: 14px;
          padding-right: 14px;
        }
      }
    }
  }
  .footer__table-cell {
    padding-right: 12px;
  }

  .list-advantagesBg {
    &__list {
      margin: -30px -30px !important;
      > li {
        padding: 30px 30px;
      }
    }
  }

}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .phone-mobile{
    position: fixed;
    bottom: 95px;
    right: 15px;
    z-index: 2;
  }
  .button-top{
    display: none;
  }

  .team {
    background: #fff;
    &__title{
      text-align: center;
      font-size: 25px;
    }
    &__cnt {
      margin-bottom: 0px;
      &-slider {
        margin: 0 -15px;
      }
    }
  }
  .team__cnt-slider__section {
    height: 350px;
  }

    .slider-main{
    text-align: center;
    &__section {
      position: relative;
      padding: 47px 0;
      &:before{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
      }
      >*{
        position: relative;
        z-index: 1;
      }
    }
    .slick-arrow{
      display: none !important;
    }
    &__title{
      color: #fff;
      margin: 0;
    }
    &__line{
      background-color: #fff;
      margin: 0;
    }
    .slick-dots {
      bottom: 190px;
      li{
        button{
          &:after{
            background-color: transparent;
            border: 2px solid #fff;
          }
        }
        &.slick-active{
          button{
            &:after{
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  .step {
    &__list {
      >li{
        width: 50%;
        &:nth-of-type(2n) {
          .step__item-icon {
            &:after {
              right: -500%;
            }
          }
        }
      }
    }
  }


  .content-bgRight {
    background: #fff;
    &__table {
      display: block;
      &-cell {
        display: block;
      }
    }
    &__left{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .list-advantagesBg {
    padding-top: 65px;
    padding-bottom: 65px;
    &__list {
      > li {
        font-size: 14px;
      }
    }
  }
  .fzbBigMega{
    font-size: 16px;
  }
  .slider-accreditations {
    .slick-arrow {
      //display: none !important;
    }
  }

  .nav-list {
    //font-size: 14px;
  }
  .service-list__item{
    //font-size: 14px;
  }
  .nav-list__list-item {
    padding: 28.5px 0;
  }
  .nav-list__title {
    padding: 26.5px 25px;
  }
  html, body {
    font-size: 14px;
    line-height: 1.55em;
  }
  .footer__logo-block{
    text-align: center;
    margin-bottom: 10px;
  }
  .header{
    display: none;
  }
  h2, .h2 {
    font-size: 23px;
  }
  .service-list__item-table{
    display: block;
    height: auto;
    text-align: left;
    &-cell{
      display: table;
      >*{
        display: table-cell;
        vertical-align: middle;
        +*{
          padding-left: 28px;
        }
      }
    }
  }
  .service-list__item{
    padding: 26px 28px;
    &-icon{

    }
    &-title{

    }
  }
  .service-list__itemGren-link{
    display: none !important;
  }
  .service-list__itemGren{
    padding: 26px 28px;
    display: table;
    >*{
      display: table-cell;
      vertical-align: middle;
      +*{
        padding-left: 28px;
      }
    }
  }
  .content_logoBg{
    background-image: none;
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .phone-mobile{
    display: none;
  }
  .team {
    &__cnt {
      &-slider {
        &__section {
          &:hover{
            background-color: #2f9f13;
            .team__cnt-slider__titlesBlock{
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .service-list__itemGren-icon{
    width: 37px;
  }
  .step {
    &__list {
      > li {
        &:nth-of-type(3n) {
          .step__item-icon {
            &:after {
              right: -500%;
            }
          }
        }
      }
    }
  }
  .footer{
    &__addres{
      display: block;
      margin-right: -25px;
    }
  }
  .header-mobile{
    display: none;
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {

}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .slider-main {
    &__title {
      font-size: 24px;
      line-height: 36px;
    }
  }
  .breadcrumbBlock {
    text-align: center;
  }
  .nav-list__list-item:after {
    right: 20px;
  }
  .nav-list__list-item{
    padding-right: 35px;
  }

  .form-callback{
    text-align: center;
  }
  .step {
    &__content {
      padding-top: 0;
      padding-bottom: 20px;
    }
  }
  .step__list > li {
    padding-bottom: 20px;
  }
  h2, .h2{
    text-align: center;
  }
  .step__title{
    text-align: center;
    font-size: 25px;
    line-height: 35px;
  }
  .step{
    border-top: 4px solid #f6f7f8;
    background: #fff;
  }
  .slider-accreditations .slick-arrow.slick-prev {
    left: -10px;
  }
  .slider-accreditations .slick-arrow.slick-next {
    right: -10px;
  }
  .slider-accreditations{
    margin: 0;
  }
  .content_white:not(.content_white_notBorder){
    border-top: 4px solid #f6f7f8;
  }
  .step {
    &__list {
      > li {
        width: 100%;
      }
    }
    &__item {
      &-icon {
        &:before {
          display: none;
        }
        &:after{
          display: none;
        }
      }
    }
  }
  .list-advantagesBg {
    &__list {
      >li{
        width: 50%;
      }
    }
  }
  .form-content__table{
    display: block;
    &-cell{
      display: block;
    }
  }
  .form-content{
    padding: 20px 15px;
  }
  .form-content__title {
    font-size: 23px;
    line-height: 32px;
  }
  .service-tabs-list {
    display: block;
    font-size: 0;
    margin: -5px;
    &__section {
      font-size: 14px;
      display: inline-block;
      width: 50%;
      padding: 5px !important;
    }
    &__item {
      padding: 15px;
      &-table {
        height: auto;
        display: block;
        &-cell {
          display: block;
          height: auto;
        }
      }
      &.active {
        &:after {
          display: none;
        }
      }
    }
  }
  .masonry-col2{
    &__section{
      margin-bottom: 20px;
    }
    .gutter-sizer{
      width: 0;
    }
    .col-1,
    .grid-sizer{
      width: 100%;
    }
  }
  .service-list__itemGren {
    padding: 27px 24px;
  }
  .contacts{
    &__maps{
      &-contacts{
        position: relative;
        padding: 0;
        //margin: 0 -15px;
        &-content {
          box-shadow: none;
          height: auto;
          padding: 14px 0;
        }
      }
      &-map{
        position: relative;
        height: 350px;
      }
    }
  }
  h1, .h1 {
    font-size: 30px;
    text-align: center;
  }
  .breadcrumbBlock{
    padding: 12px 0;
  }
  .contacts {
    &__table {
      display: block;
      &-cell {
        display: block;
        padding-right: 0;
        padding-bottom: 25px;
        + * {
          padding-top: 25px;
          padding-left: 0;
          border-top: 1px solid #b9c2c9;
          .contacts__elTable {
            .contacts__el {
              &:not(.contacts__el_notBorder) {
                .contacts__el-icon {
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .popup-main {
    padding: 20px 17px;
    .mfp-close {
      width: 54px;
      text-align: right;
      left: auto;
      right: 0;
      bottom: 100%;
      top: auto;
      padding: 0;
      height: 42px;
    }
    &__titleTable {
      display: block;
      &-cell {
        display: block;
        +*{
          padding-left: 0;
          padding-top: 10px;
        }
      }
    }
  }


  .footer__table{
    display: block;
    text-align: center;
    &-cell {
      display: block;
      padding-right: 0;
    }
  }
  .footer__list{
    margin: 20px 0;
  }
  .footer{
    padding-top: 50px;
    padding-bottom: 23px;
  }

}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .list-advantagesBg {
    &__list {
      margin: -15px !important;
      > li {
        padding: 15px;
      }
    }
  }
  .form-content__title {
    font-size: 19px;
    line-height: 32px;
  }
  .list-advantages__item {
    font-size: 14px;
  }
  .fzbBigMega {
    font-size: 15px;
    line-height: 1.8em;
  }
  .service-tabs-list {
    &__section {
      width: 100%;
    }
  }
  .form-callback__title {
    font-size: 23px
  }
  .form-callback{
    padding: 25px 0;
  }

  
}
